%p.text-center.h1 商品一覧

%div.product-cards.container
	%ul.row
		- @products.each do |product|
			%li.col-md-6
				%div.product-card
					= image_tag product.photo.to_s
					%p
						= product.name
						(
						= product.price_unit #from product_decorator
						)
				%div.detail
					%p
						= product.description
					= link_to "詳細", product
