!!!

%div.container.w-75.mx-auto.text-center
	.w-auto.mx-auto= image_tag @product.photo.to_s

	%div.card.mx-auto.w-75.text-left.my-5.p-4
		%h2.card-title.mb-4= @product.name
		%p.card-subtitle= @product.description
		%p.card-text= @product.price_unit

	= button_to "買い物かごに入れる", basket_products_path(product_id: @product.id, basket_id: @basket.id), class: "btn btn-info w-75 mb-5 py-3"