!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title EcWsc
		= csrf_meta_tags
		= csp_meta_tag
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	%body
		- if notice
			%p.notice= notice
		- elsif alert
			%p.alert= alert
		- if user_signed_in?
			%p= link_to "sign_out", destroy_user_session_path, method: :delete
			%p= link_to "商品一覧へ", root_path
			%p= link_to "商品登録する", new_product_path
			%p= link_to "買い物かごを見る", basket_path


		= yield
